<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">ANASAYFA</a>
        <ul class="navbar-nav nav-right">
            <li class="nav-item position-relative">
                <a href="#" class="nav-link" id="notificationLink">
                    Bildirimler
                    <span class="badge bg-danger <%= unreadNotifications > 0 ? '' : 'd-none' %>" id="notificationBadge">
                        <%= unreadNotifications %>
                    </span>
                    
                </a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/etkinlik-onerisi" class="nav-link">Etkinlik Önerisi</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/create_etkinlik" class="nav-link">Etkinlik Oluştur</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/etkinlikler" class="nav-link">Etkinlikler</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/ilgi_list" class="nav-link">İlgilerim</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/profile" class="nav-link">Profilim</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li class="nav-item">
                <a href="/user/logout" class="nav-link">Çıkış</a>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-underline"></div>