<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/admin/nav') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Anasayfa</h3>
            </div>
        </div>
    </div>
</body>
</html>