<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/begining-header') %>
    <!-- formda olacak -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="login-box">
            <form action="/user/new_password" method="POST">
              <div class="form-group">
                <label for="email">E-posta:</label>
                    <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    placeholder="E-posta adresinizi girin"
                    />
                </div>
              <button type="submit" class="btn btn-login">Gönder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
