<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/begining-header') %>
    <h1> foto ekrani ayarlanacak!</h1>
    <!-- formda olacak -->
    <button type="submit" class="btn btn-login">Yükle</button>
    <button type="submit" class="btn btn-login">Şimdi Değil</button>
</body>
</html>